/* Source Sans Regular */
@font-face {
    font-family: "Source Sans Regular";
    src: url('assets/fonts/SourceSans/SourceSansPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* Source Sans Semibold */
@font-face {
    font-family: "Source Sans Italic";
    src: url('assets/fonts/SourceSans/SourceSansPro-It.otf');
    font-weight: normal;
    font-style: italic;
}

/* Source Sans Semibold */
@font-face {
    font-family: "Source Sans Light";
    src: url('assets/fonts/SourceSans/SourceSansPro-Light.otf');
    font-weight: 300;
    font-style: normal;
}

/* Source Sans Semibold */
@font-face {
    font-family: "Source Sans Semibold";
    src: url('assets/fonts/SourceSans/SourceSansPro-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}

/* Source Sans Bold */
@font-face {
    font-family: "Source Sans Bold";
    src: url('assets/fonts/SourceSans/SourceSansPro-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

:root {
    --clr-text: #FFFFFF;
    --clr-text-dark: #071629;
    --clr-accent: #C271FF;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
}

/* Useful reuseable classes */
.text-accent {
    color: var(--clr-accent);
    font-family: "Source Sans Bold";
}

.person-name {
    font-family: "Source Sans Bold";
    margin: 0 auto;
}

.person-img {
    border-radius: 50%;
}

button {
    margin-top: 25px;
    padding: 10px 20px;
    background-color: var(--clr-accent);
    border: none;
    border-radius: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Semibold";
    font-size: 14px;
    color: var(--clr-text);
}

/* Header */
header {
    margin: 35px 170px -65px 170px;

    nav {
        float: right;
        width: 235px;
        display: flex;
        justify-content: space-between;

        a {
            font-family: "Source Sans Bold";
            font-size: 12px;
            text-transform: uppercase;
            color: var(--clr-text);
            text-decoration: none;
        }
    }
}

/* Title */
#main_part {
    padding-top: 100px;
    background-image: url('assets/img/header_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Source Sans Bold";
    color: var(--clr-text);
    aspect-ratio: 1.31; /* Approx of bg image aspect ratio */
}

#main_part__title {
    h1 {
        font-size: 120px;
        margin-bottom: 0;
    }

    p {
        margin-top: -10px;
        font-size: 16px;
        word-spacing: 50px;
        text-transform: uppercase;
    }
}

/* Pros */
#main_part__pros {
    padding-top: 150px;

    h2 {
        font-family: "Source Sans Light";
        font-size: 32px;
        margin-bottom: 50px;
    }
}

#main_part__pros_container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 150px;

    p {
        font-family: "Source Sans Italic";
        font-size: 16px;
        margin: 0 auto;
    }
}

/* Quotes */
#part_1_testimonials {
    background-color: var(--clr-accent);
    color: var(--clr-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Source Sans Regular";
    font-size: 22px;
    padding: 100px 0;

    img {
        margin: 0 50px;
        height: 100%;
        aspect-ratio: 1;
    }

    div {
        max-width: 750px;

        blockquote {
            margin-left: 0;
        }

        .subtitle {
            font-family: "Source Sans Italic";
            margin-top: 10px;
        }
    }
}

/* Tutorials */
#part_2_tutorials {
    color: var(--clr-text-dark);
    text-align: center;
    padding: 70px 0;
    
    h1 {
        font-family: "Source Sans Light";
        font-size: 32px;
        margin-bottom: 70px;
    }
}

#tutorial_container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-evenly;
    text-align: left;
}

.tutorial {
    position: relative;

    .preview {
        position: relative;
        width: min-content;

        &::before {
            content: '';
            position: absolute;
            width: 64px;
            aspect-ratio: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url('assets/img/preview_play.png');
            background-size: 25%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(255, 255, 255, 0.75);
            border: none;
            border-radius: 50%;
        }
    }

    h2 {
        font-family: "Source Sans Bold";
        font-size: 16px;
    }

    p {
        font-family: "Source Sans Regular";
        font-size: 14px;
        opacity: 0.5;
    }

    .person-img {
        width:30px;
        aspect-ratio: 1;
        vertical-align:middle;
        margin-right: 10px;
    }

    .person-img + h3 {
        display: inline-block;
        margin: 0;
        vertical-align:middle;
        font-family: "Source Sans Semibold";
        font-size: 14px;
        color: var(--clr-accent);
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            aspect-ratio: 1;
        }

        p {
            margin-left: auto;
            color: var(--clr-accent);
            opacity: 1;
        }
    }
}

/* Membership */
#membership {
    background-color: var(--clr-text-dark);
    color: var(--clr-text);
    text-align: center;
    padding: 70px 0;
    
    h1 {
        font-family: "Source Sans Light";
        font-size: 32px;
        margin-bottom: 70px;
    }

    button {
        margin-top: 50px;
    }
}

#membership_container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-evenly;

    .member-advantage {
        width: 250px;
    }

    h2 {
        font-family: "Source Sans Semibold";
        font-size: 18px;
    }

    p {
        padding: 0 20px;
        font-family: "Source Sans Light";
        font-size: 14px;
    }
}